body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body.light {
  background-image: url(./assets/Lighttheme.png);
  background-color: #e2d9bc;
  color: #e2d9bc;
}

body.dark {
  background-image: url(./assets/Darktheme.png);
  background-color: #213a2a;
  color: #e2d9bc;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-end;
}

#contrast-icon {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
  color:#c07e22;
}
a {
  font-weight: 500;
  color: #c07e22;
  text-decoration: inherit;
}
a:hover {
  color: #c07e22;
}

.ag-theme-material {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 55%;
  width: 80%;
  bottom: 5rem;
}

#addbook {
  position: relative;
  bottom: 1rem;
  border-radius: 10px;
  border: 2px solid;
  padding: 2px 8px;
  font-size: 1.5em;
  font-weight: 600;
  font-family: Poiret One;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: border-color 0.2s;
}
#addbook:hover {
  border-color: #c07e22;
  color: #c07e22;
}

@media (min-height: 950px) {
  .ag-theme-material {
    bottom: 9rem;
  }

  #addbook {
    bottom: 2rem;
  }
}